---
### First Play: Gather date/time from localhost
- name: Gather date/time on localhost
  hosts: localhost
  gather_facts: true
  tasks:
    - name: Set date and time facts for use in Fortigate tasks
      set_fact:
        backup_date: "{{ ansible_date_time.date }}"
        backup_time: "{{ ansible_date_time.time }}"

### Second Play: Fortigate backup using date/time from localhost
- name: Fortigate Backup
  hosts: fortigate
  connection: httpapi
  gather_facts: false
  vars:
    dest_path: "/root/{{ datacenter }}"
    folder: "{{ dest_path }}/{{ inventory_hostname }}/{{ hostvars['localhost']['backup_date'] }}"
    filename: "{{ folder }}/backup_{{ hostvars['localhost']['backup_date'] }}_{{ hostvars['localhost']['backup_time'] }}.yaml"
    latest_file: "{{ dest_path }}/{{ inventory_hostname }}/latest/latest.yaml"
  collections:
    - fortinet.fortios

  tasks:
    - name: Creating backup folder if it does not exist
      file:
        path: "{{ folder }}"
        state: directory
        mode: 0775
      delegate_to: localhost

    - name: Creating fortigate diff directory if it does not exist
      file:
        path: "{{ dest_path }}/{{ inventory_hostname }}/latest"
        state: directory
        mode: 0775
      delegate_to: localhost

    - name: Backing up Fortigate firewalls
      fortios_monitor:
        access_token: "{{ fortios_access_token }}"
        selector: backup.system.config
        params:
          scope: global
          password_mask: true
          file_format: yaml
      register: backupinfo

    - name: Save Fortigate backup to file
      copy:
        content: "{{ backupinfo.meta.raw }}"
        dest: "{{ filename }}"
        mode: 0644
      delegate_to: localhost

    - name: Compare Fortigate configs (ignore conf_file_ver)
      shell: |
        set -o pipefail
        diff -I '^#conf_file_ver=' "{{ filename }}" "{{ latest_file }}" \
          | tee "{{ dest_path }}/{{ inventory_hostname }}/latest/compared.yaml"
      args:
        executable: /bin/bash
      register: diff_output
      ignore_errors: true
      changed_when: diff_output.rc == 1
      failed_when: diff_output.rc > 1
      delegate_to: localhost
      notify: Print Fortigate config differences

    - name: Update latest Fortigate config
      copy:
        src: "{{ filename }}"
        dest: "{{ latest_file }}"
        mode: 0644
      delegate_to: localhost
      when: diff_output.rc in [0, 1]

  handlers:
    - name: Print Fortigate config differences
      debug:
        msg: |
          Differences detected for {{ inventory_hostname }}:
          {{ diff_output.stdout }}
      when: diff_output.rc == 1